<div class="flex items-center justify-between p-3 border border-gray-300 group-item rounded-md">
    <p class="group-name w-full"></p>
    <div class="flex gap-3">
        <div class="text-center">
            <p class="font-bold">Created:</p>
            <p class="group-created-at"></p>
        </div>
        <div class="text-center">
            <p class="font-bold">Updated:</p>
            <p class="group-updated-at"></p>
        </div>
        <div class="text-center group-actions">
            <p class="font-bold">Actions:</p>
            <a class="group-view-link text-blue-500 hover:underline">View</a>
        </div>
        
    </div>
</div>
