<div class="flex items-center justify-between p-3 border border-gray-300 group-item rounded-md">
    <div>
        <p class="font-bold">Question:</p>
        <p class="question-title w-full"></p>
    </div>
    <div class="question-actions flex gap-3">
        <div class="text-center">
            <p class="font-bold">Asked by:</p>
            <p class="question-user"></p>
        </div>
        <div class="text-center">
            <p class="font-bold">Actions:</p>
            <a class="question-view-link text-blue-500 hover:underline">View</a>
        </div>
    </div>
</div>
