<header class="flex items-center justify-between gap-3 border-b border-gray-300 p-3">
    <a href="/" class="font-bold text-gray-500 hover:underline">
        QuestionBook
    </a>
    
    <nav>
        <ul class="flex gap-3">
            <li>
                <a href="/" class="text-blue-500 hover:underline">Home</a>
            </li>
            <li>
                <a href="/groups" class="text-blue-500 hover:underline">Groups</a>
            </li>
        </ul>
    </nav>
</header>

<div id="page"></div>

<footer>
    <p class="text-center p-3 border-t border-gray-300">
        &copy; 2021 QuestionBook
    </p>
</footer>
